In [ ]:
import pandas as pd

In [4]:
df=pd.read_csv("C:\ML_Projects\ML_project\data\protein.csv")

In [5]:
df.head()

,RMSD,F1,F2,F3,F4,F5,F6,F7,F8,F9
0,17.284,13558.30,4305.35,0.31754,162.1730,1.872791e+06,215.3590,4287.87,102,27.0302
1,6.021,6191.96,1623.16,0.26213,53.3894,8.034467e+05,87.2024,3328.91,39,38.5468
2,9.275,7725.98,1726.28,0.22343,67.2887,1.075648e+06,81.7913,2981.04,29,38.8119
3,15.851,8424.58,2368.25,0.28111,67.8325,1.210472e+06,109.4390,3248.22,70,39.0651
4,7.962,7460.84,1736.94,0.23280,52.4123,1.021020e+06,94.5234,2814.42,41,39.9147

In [6]:
df.isnull().sum()

RMSD    0
F1      0
F2      0
F3      0
F4      0
F5      0
F6      0
F7      0
F8      0
F9      0
dtype: int64

In [7]:
df[df.duplicated()]

,RMSD,F1,F2,F3,F4,F5,F6,F7,F8,F9
1533,16.231,7725.48,2546.72,0.32965,74.6927,1.075574e+06,97.4814,3031.49,22,38.5300
1890,3.050,9068.27,1995.18,0.22001,96.7449,1.281607e+06,130.6220,3854.62,48,34.9438
2568,1.864,10202.10,2653.28,0.26007,91.5636,1.453171e+06,137.4020,3649.18,122,35.5868
2569,2.815,10865.90,3054.63,0.28112,130.6790,1.553053e+06,169.6350,4405.85,41,31.7521
2809,2.187,8386.68,1860.81,0.22187,83.1233,1.182947e+06,103.6100,3806.27,19,34.0551
...,...,...,...,...,...,...,...,...,...,...
45679,18.798,17265.30,5900.54,0.34175,174.6550,2.393550e+06,241.2070,6099.24,136,24.9988
45683,0.756,10344.20,2216.06,0.21423,103.0900,1.471579e+06,142.3970,4290.42,47,33.5024
45684,16.122,8799.40,2668.38,0.30324,54.9057,1.188520e+06,117.7490,4254.20,33,35.1959
45701,5.546,18403.60,4882.31,0.26529,245.5710,2.559338e+06,294.5570,5457.64,215,25.6038
45727,10.356,7726.65,2489.58,0.32220,70.9903,1.076560e+06,103.6780,3290.46,46,37.4718

In [8]:
df.shape

(45730, 10)

In [9]:
df.dtypes

RMSD    float64
F1      float64
F2      float64
F3      float64
F4      float64
F5      float64
F6      float64
F7      float64
F8        int64
F9      float64
dtype: object

In [10]:
df.duplicated().sum()

np.int64(1711)

In [11]:
df = df.drop_duplicates()

In [12]:
df.shape

(44019, 10)

In [13]:
z=df.corr()

In [22]:
df.head()

,RMSD,F1,F2,F3,F4,F5,F6,F7,F8,F9
0,17.284,13558.30,4305.35,0.31754,162.1730,1.872791e+06,215.3590,4287.87,102,27.0302
1,6.021,6191.96,1623.16,0.26213,53.3894,8.034467e+05,87.2024,3328.91,39,38.5468
2,9.275,7725.98,1726.28,0.22343,67.2887,1.075648e+06,81.7913,2981.04,29,38.8119
3,15.851,8424.58,2368.25,0.28111,67.8325,1.210472e+06,109.4390,3248.22,70,39.0651
4,7.962,7460.84,1736.94,0.23280,52.4123,1.021020e+06,94.5234,2814.42,41,39.9147

In [14]:
import numpy as np

In [15]:
df.describe()

,RMSD,F1,F2,F3,F4,F5,F6,F7,F8,F9
count,44019.000000,44019.000000,44019.000000,44019.000000,44019.000000,4.401900e+04,44019.000000,44019.000000,44019.000000,44019.000000
mean,7.795829,9874.503445,3019.460210,0.302475,103.496111,1.368753e+06,145.669889,3992.357462,70.095300,34.522120
std,6.137803,4054.023208,1465.353353,0.063060,55.298130,5.635050e+05,69.869706,2006.910773,56.490249,5.978529
min,0.000000,2392.050000,403.500000,0.092500,10.310100,3.194902e+05,31.970400,0.000000,0.000000,15.228000
25%,2.313000,6940.705000,1979.515000,0.258580,63.606950,9.542189e+05,94.786400,3167.420000,31.000000,30.430250
50%,5.087000,8902.580000,2671.030000,0.300190,87.777800,1.238022e+06,126.218000,3840.540000,54.000000,35.301900
75%,13.465500,12124.450000,3789.575000,0.343075,133.614000,1.690883e+06,181.451000,4644.850000,91.000000,38.869550
max,20.999000,40034.900000,15312.000000,0.577690,369.317000,5.472011e+06,598.408000,105948.170000,350.000000,55.300900

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [16]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
import seaborn as sns

In [20]:
df1=df.copy()

In [21]:
df.head()

,RMSD,F1,F2,F3,F4,F5,F6,F7,F8,F9
0,17.284,13558.30,4305.35,0.31754,162.1730,1.872791e+06,215.3590,4287.87,102,27.0302
1,6.021,6191.96,1623.16,0.26213,53.3894,8.034467e+05,87.2024,3328.91,39,38.5468
2,9.275,7725.98,1726.28,0.22343,67.2887,1.075648e+06,81.7913,2981.04,29,38.8119
3,15.851,8424.58,2368.25,0.28111,67.8325,1.210472e+06,109.4390,3248.22,70,39.0651
4,7.962,7460.84,1736.94,0.23280,52.4123,1.021020e+06,94.5234,2814.42,41,39.9147

In [24]:
X=df.drop('RMSD',axis=1)
y=df[['RMSD']]

In [28]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [19]:
# Dictionary of regression models
regression_models = {
    'Linear Regression': LinearRegression(),
    'Ridge Regression': Ridge(alpha=1.0, random_state=42),
    'Lasso Regression': Lasso(alpha=0.1, random_state=42),
    'Random Forest': RandomForestRegressor(random_state=42, n_estimators=100),
    'XGBoost': XGBRegressor(random_state=42, eval_metric='rmse'),
    'SVM': SVR(kernel='rbf'),
    'Gradient Boosting': GradientBoostingRegressor(random_state=42, n_estimators=100),
    'KNN': KNeighborsRegressor(n_neighbors=5),
    'AdaBoost': AdaBoostRegressor(random_state=42, n_estimators=100)
}

In [29]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=45,test_size=0.25)

In [30]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((33014, 9), (11005, 9), (33014, 1), (11005, 1))

In [31]:
# Train, predict, and evaluate
results = {}

for name, model in regression_models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_test, y_pred)
    
    results[name] = {'MSE': mse, 'RMSE': rmse, 'R2': r2}

c:\ML_Projects\ML_project\venv\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.455e+05, tolerance: 1.242e+02
  model = cd_fast.enet_coordinate_descent(
c:\ML_Projects\ML_project\venv\lib\site-packages\sklearn\base.py:1365: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
c:\ML_Projects\ML_project\venv\lib\site-packages\sklearn\utils\validation.py:1406: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\ML_Projects\ML_project\venv\lib\site-packages\sklearn\ensemble\_gb.py:672: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)  # TODO: Is this still required?
c:\ML_Projects\ML_project\venv\lib\site-packages\sklearn\utils\validation.py:1406: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [32]:
# Convert results to DataFrame for better view
results_df = pd.DataFrame(results).T
print(results_df)

                         MSE      RMSE        R2
Linear Regression  27.156857  5.211224  0.281160
Ridge Regression   27.158106  5.211344  0.281127
Lasso Regression   27.355950  5.230292  0.275890
Random Forest      13.110025  3.620777  0.652979
XGBoost            15.430253  3.928136  0.591563
SVM                44.830315  6.695544 -0.186654
Gradient Boosting  22.278152  4.719974  0.410299
KNN                35.884412  5.990360  0.050143
AdaBoost           32.019323  5.658562  0.152451